Source: xivo-dbms
Section: admin
Priority: extra
Maintainer: XiVO Dev Team <dev+pkg@proformatique.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Standards-Version: 3.9.6

Package: xivo-dbms
Architecture: all
Depends:
 ${misc:Depends},
 postgresql-9.4,
 postgresql-contrib-9.4,
 postgresql-plpython-9.4
Replaces: xivo-upgrade (<< 16.09~)
Breaks: xivo-upgrade (<< 16.09~)
Description: XiVO database management system
 XiVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package is responsible to install and upgrade the database management
 system (postgresql) used by XiVO.
