Source: xivo-dbms
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-dbms
Architecture: all
Depends:
 ${misc:Depends},
 postgresql-11,
 postgresql-contrib-11,
 postgresql-plpython-11
Replaces: xivo-upgrade (<< 16.09~)
Breaks: xivo-upgrade (<< 16.09~)
Description: Wazo database management system
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package is responsible to install and upgrade the database management
 system (postgresql) used by Wazo.
